extends layout 

block content 
    script(src="/javascripts/password-page-behavior.js") 
    .content 
        h1=title 
        form(action="/auth/password-results/", method="post",onsubmit='onformsubmit(this, event)') 
            label(for="password") Please enter a password. Password must contain at least one digit, and at least one special character (!@#$%^&*) . 
            input#password(type="password", name="password", oninput='onPWInput()')
            label(for="show-password") Show Password
            input#show-password(type="checkbox", onClick='showPassword(event)')
            input(type="button", value="Create Random Password", onclick='document.getElementById(\'password\').value = generateRandomPassword();')
            input(type="submit", value="Create")
            p#error-message Password must contain at least one digit and at least one special character. Please try again!