extends layout

block content
    .content
        h1= title 
        if in_or_up === '/reg-signin/'
            p New User? Sign up 
                a(href="/auth/sign-up/") here
            p Welcome! Please enter your email and password to sign in.
        else 
            p Please enter your email to join our website!
        form(action='/auth'+in_or_up, method="post") 
            input#email(type="email", name="username")
            if in_or_up === '/reg-signin/'
                input#password(type="password", name="password", style={'visibility': (in_or_up === '/reg-signin/'? 'visible' :'hidden')}, value=(in_or_up === '/reg-signin/'? '' :'<placeholder>'))
            if errMsg
                p.error= errMsg
            input(type="submit", value=(in_or_up == '/reg-signin/'? 'LOG IN!' : 'SIGN UP!'), class="login-submit")
        p Or,
        a(href="./google/") Sign In With Google
