body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

nav {
  background: red;
  padding: 20px 10px;
  display: flex;
}
nav ul {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  display: contents;
}
nav li{
  list-style-type: none;
  display: inline-block;
  margin: 0 10px 0 0;
}

nav a{
  color: #000;
  background: rgba(255,255,255,0.2);
  font-size: 18px;
  text-decoration: none;
  padding: 0 10px;
  display: block;
}

a {
  color: #00B7FF;
}

.content{
  margin: 20px 20px 0 20px;
}

p.error{
  color: red;
  font-size: 12px;
}

/* Profile page styling */

#card_box{
  display: contents;
  padding: 10px;
  margin-left: 20px;
}

.single-card{
  display: block;
  background-color: aliceblue;
  color: darkblue;
  font-size: 12px;
}

.single-card .contact-us{
  position: fixed;
  bottom: 0px;
  height: 30px;
  width: 100px;
}

.single-card .title{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  color: midnightblue;
}

/* Create card form styling: */



#createCardForm{
  display: table;
  margin-left: auto;
  margin-right: auto;
}

#createCardForm form {
  display: grid;
  outline: silver 10px;
  outline-style: groove;
  padding: 40px;

}

#createCardForm input{
  width: 100px;
  color: gray;
  background-color: antiquewhite;
  outline-width: 1px;
  outline-color: darkslategrey;
}



