body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

nav {
  background: red;
  padding: 20px 10px;
  display: flex;
}
nav ul {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  display: contents;
}
nav li{
  list-style-type: none;
  display: inline-block;
  margin: 0 10px 0 0;
}

nav a{
  color: #000;
  background: rgba(255,255,255,0.2);
  font-size: 18px;
  text-decoration: none;
  padding: 0 10px;
  display: block;
}

a {
  color: #00B7FF;
}

.content{
  display: block;
  margin: 20px 20px 0 20px;
}

p.error{
  color: red;
  font-size: 12px;
}

/* Homepage styling*/

#business-card-container{
  display:block;
  overflow: scroll;
}





/* Profile page styling */

#profile-page-content-container{
  display: flex;
  margin: inherit;
}

#card_box{
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 300px;
  max-width: min-content;
  background: lightgray;
  display: block;
  padding: 10px;
  margin-left: 20px;
}

.selected-card-option-btn {
  visibility: hidden;
  margin-left: 10px;
}

.selected-card-option-btn.visible{
  visibility: visible;
}

.single-card.mouse-entered{
  background-color: cadetblue;
}

.single-card.selected{
  outline-color: aquamarine;
  background-color: aquamarine;
}
.single-card{
    display: inline-block;
    background-color: #f0f8ff;
    color: #00008b;
    font-size: 12px;
    width: 300px;
    outline-style: double;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.single-card * {
  overflow: hidden;
}

.single-card .pic-and-name-container{
  display: flex;
}

.single-card .title-container{
  position: relative;
    margin-left: auto;
    text-align: right;
}

.single-card img{
  height: 80px;
  margin: 15px;
}
.single-card .contact-us{
  font-size: 9px;
  display: inline;
}

.single-card .contact-us a{
  color: darkblue;
  margin: 4px;
}

.single-card .contact-us p{
  display: inline;
  margin: 2px;
}
.single-card .title{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  color: midnightblue;
}

/* Create card form styling: */

#x_button{
  border: #000;
  border-width: 1px;
  border-style: solid;
  width: max-content;
  cursor: pointer;
  position: relative;
  top:10px;
  left:200px;
}

.card-form {
  position: relative;
  display: table;
  margin-block-start: inherit;
  margin-left: inherit;
  visibility: hidden;
}
.card-form.visible{
  visibility: visible;
}

.card-form form {
  display: grid;
  outline: silver 10px;
  outline-style: groove;

}

.card-form form > * {
  margin: 5px;
}
 
.card-form input{
  width: 150px;
  background-color: antiquewhite;
  outline-width: 1px;
  outline-color: darkslategrey;
  margin: 5px;
}



